#!/usr/bin/make -f

ROOT=usr/share/venusd
NULL =

DEB_CMAKE_EXTRA_FLAGS :=  -DCMAKE_SKIP_RPATH=FALSE \
                          -DCMAKE_SKIP_INSTALL_RPATH=FALSE \
                          -DWITH_PULSE=ON \
                          -DWITH_CHANNELS=ON \
                          -DBUILTIN_CHANNELS=ON \
                          -DWITH_CUPS=OFF \
                          -DWITH_PCSC=OFF \
                          -DWITH_JPEG=OFF \
                          -DWITH_GSTREAMER_0_10=OFF \
                          -DWITH_GSTREAMER_1_0=OFF \
                          -DWITH_GSM=OFF \
                          -DCHANNEL_URBDRC=ON \
                          -DCHANNEL_URBDRC_CLIENT=ON \
                          -DWITH_SERVER=ON \
                          -DBUILD_TESTING=OFF \
                          -DCMAKE_BUILD_TYPE=RELWITHDEBINFO \
                          -DCMAKE_INSTALL_PREFIX=/$(ROOT) \
                          -DCMAKE_INSTALL_INCLUDEDIR=include \
                          -DCMAKE_INSTALL_LIBDIR=lib \
						  -DWITH_SSE2=ON \
						  -DCHANNEL_TSMF_SERVER=ON \
						  -DWITH_OPENH264=ON -DOPENH264_ROOT=/$(ROOT)/openh264 \
						  -DWITH_FFMPEG=OFF \
						  -DWITH_PAM=OFF \
						  -DWITH_SHADOW_X11=OFF \
                          $(NULL)

%:
	dh $@ --parallel

override_dh_auto_configure:
	echo $(DEB_CMAKE_EXTRA_FLAGS)
	dh_auto_configure -- $(DEB_CMAKE_EXTRA_FLAGS)

override_dh_shlibdeps:
	dh_shlibdeps -l /$(ROOT)/lib/

override_dh_strip:
	dh_strip --dbg-package=freerdp-nightly-dbg

override_dh_install:
	mkdir -p debian/tmp/$(ROOT)/lib/cmake/
	rm -rf debian/tmp/$(ROOT)/lib/freerdp2/*.a
	cp -rf /$(ROOT)/openh264 debian/tmp/$(ROOT)/

	dh_install --fail-missing

override_dh_clean:
	rm -f config.h
	dh_clean
